.left-sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 145px;
  background-color: black;
  border-width: 1px;
  border-style: solid;
  border-right-color: rgb(51, 51, 51);
  display: flex;
  justify-content: end;
  padding-top: 10px;
  padding-right: 25px;
  transition: 0.2s;
  z-index: 200;
}

.left-sidebar-images {
  display: flex;
  flex-direction: column;
}

.sidebar-icons,
.tweet-icon,
.sidebar-icons-1 {
  height: 24px;
  object-fit: contain;
  margin-bottom: 2px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5rem;
  transition: 0.15s;
}

.sidebar-icons:hover,
.sidebar-icons-1:hover {
  background-color: rgb(22, 22, 22);
}

.tweet-icon {
  background-color: royalblue;
  border-radius: 5rem;
  padding: 10px;
}

.tweet-icon:hover{
  background-color: rgb(60, 96, 203);
}

.more-container {
 position: relative;
 top: 140px;
 left: 95px;
 width: 300px;
 height: 225px;
 border-radius: 1rem;
 background-color: black;
 box-shadow: 0 0 10px rgba(255,255, 255, 0.5);
 padding: 15px;
 transition: 0.5s;
 cursor: pointer;
 pointer-events: none;
 opacity: 0;
 z-index: 400;
}

.more-info, 
.more-info-1{
  display: flex;
}

.more-info:hover,
.more-info-1:hover {
  background-color: rgb(51, 51, 51);
}

.more-info-1 {
  border-width: 0 0 1.5px 0;
  border-style: solid;
  border-bottom-color: rgb(51, 51, 51);
}

.more-icon {
  display: flex;
  align-items: center;
  height: 24px;
  object-fit: contain;
  margin-bottom: 25px;
}

.more-text {
  font-family: gotham;
  font-weight: 700;
  font-size: 17px;
  display: flex;
  align-items: center;
  margin-left: 25px;
  align-items: center;
  color: white;
  margin-bottom: 25px;
}

.texts-info {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 13px;
}

.texts-info:hover {
  background-color: rgb(51, 51, 51);
}

.more-icon-1 {
  height: 19px;
  object-fit: contain;
}

.text-info {
  font-family: gotham;
  font-weight: 600;
  font-size: 14px;
  color: white;
}

.more-container:hover {
  opacity: 1;
}

@media (max-width: 1200px) {
  .left-sidebar {
    width: 125px;
  }
}
